@charset "UTF-8";
/* CSS Document */
#Form{
	border:1px solid black; background:#8D8D8D; width:500px; height:200px; text-align:center}
#whole2{
	margin:1em; padding:0; padding-left:2em; padding-right:2em;}